.row {
  display: flex;
  align-items: center;
}

.white {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50px;
  width: 50px;
  max-height: 50px;
  height: 50px;
  border: 1px solid black;
  background: white;
}

.black {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50px;
  width: 50px;
  max-height: 50px;
  height: 50px;
  border: 1px solid black;
  background: black;
}

.red {
  max-width: 30px;
  width: 30px;
  max-height: 30px;
  height: 30px;
  background: red;
  border-radius: 15px;
  /* margin: 0 auto; */
}

.blue {
  max-width: 30px;
  width: 30px;
  max-height: 30px;
  height: 30px;
  background: blue;
  border-radius: 15px;
  /* margin: 0 auto; */
}

.board {
  border: 1px solid black;
  /* max-width: 312px;
  max-height: 312px; */
}

.red.captured {
  background: blue;
}

.blue.captured {
  background: red;
}

.threatened{
  background: green !important;
}

.empty {
  display: none;
}

.valid {
  border: 3px solid green;
}

#selected {
  border: 5px double purple;
}
