/* header {
  background: 
} */

.row {
  display: flex;
  align-items: center;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50px;
  width: 50px;
  max-height: 50px;
  height: 50px;
  border: 1px solid black;
}

.white {
  background: #DDE1E4;
}

.black {
  background: #0D1F2D;
}

.piece {
  max-width: 30px;
  width: 30px;
  max-height: 30px;
  height: 30px;
  border-radius: 100%;
  transition: .5s;
}

.red {
  background: #A30000;
}

.blue {
  background: #6E75A8;
}

.board {
  border: 1px solid black;
}

.red.captured {
  background:#6E75A8;
}

.blue.captured {
  background: #A30000;
}

.threatened{
  border: 3px solid #E3B505 !important;
}

.empty {
  display: none;
}

.valid {
  border: 3px dotted #84E296;
}

#selected {
  border: 5px double #D5B0AC;
}
