header {
  background: #553555;
  padding: 10px;
  font-family: 'Dosis', sans-serif;
}

header button {
  font-family: 'Dosis', sans-serif;
}

body {
  background-image: url("background/moroccan-flower.png");
  /* credit: www.subtlepatterns.com */
  margin-bottom: 5vh;
}

li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
}

span {
  border: 1px solid black;
}

footer {
  position: fixed;
  bottom: 5px;
  background: #43aa8b;
  width: 100vw;
  height: 3vh;
  font-family: 'Dosis', sans-serif;
}

footer p {
  display: inline;
}

footer button {
  font-family: 'Dosis', sans-serif;
  margin-right: 10px;
}

.row {
  display: grid;
  width: 60vmin;
  height: 12vmin;
  grid-template-columns: repeat(5, 1fr);
  margin-left: auto;
  margin-right: auto;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.white {
  background: #dde1e4;
}

.black {
  background: #0d1f2d;
}

.piece {
  width: 80%;
  height: 80%;
  border-radius: 100%;
  transition: 0.5s;
}

.red {
  background: #a30000;
}

.blue {
  background: #6e75a8;
}

.red.captured {
  background: #6e75a8;
}

.blue.captured {
  background: #a30000;
}

.threatened {
  border: 3px solid #e3b505 !important;
}

.empty {
  display: none;
}

@keyframes cycle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}

.valid {
  animation: cycle;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.valid:hover {
  border: 3px solid #84e296;
}

#sidebar {
  font-family: 'Overpass Mono', monospace;
}

#sidebar button {
  font-family: 'Overpass Mono', monospace;
}

#difficulty {
  font-family: 'Overpass Mono', monospace;
}

#difficulty button {
  font-family: 'Overpass Mono', monospace;
}

#winners {
  font-family: 'Teko', sans-serif;
  font-size: 20px;
}

#board {
  display: grid;
  width: 60vmin;
  height: 72vmin;
  grid-template-rows: repeat(6, 1fr);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#selected {
  border: 5px double #d5b0ac;
}

#endgame {
  font-family: 'Raleway', sans-serif;
}

#cheater-head {
  display: inline;
  font-family: 'Raleway', sans-serif;
}

#cheater-link {
  align-self: center;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}

#limerick {
  font-family: 'Tangerine', cursive;
  font-size: 30px;
}

/* below is for tablet */

@media screen and (min-width: 400px) {
  #trademark {
    margin: 0 auto 0 0;
    /* position: absolute; */
    left: 5px;
  }
}

/* below is for desktop */

@media screen and (min-width: 750px) {
  main {
    display: flex;
  }

  footer {
    display: flex;
    justify-content: center;
    height: 5vh;
  }

  #leader,
  #rules {
    border-right: 4px solid #553555;
  }

  #sidebar {
    max-width: 30vw;
    margin-top: 20px;
    margin-right: 50px;
    padding: 25px;
  }
}
